[user]
	name = Jacek Becela
	email = jacek.becela@gmail.com
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
[color]
  diff = auto
  status = auto
  branch = auto
[github]
	user = ncr
	token = token = <.replace github-token>
[core]
	excludesfile = /Users/ncr/.gitignore.global
[push]
	default = current
